html, body {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

button {
  border: none;
  background-color: rgba(11, 66, 121, 100);
  color: white; 
  cursor: pointer; 
  padding: 8px 16px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}
button:hover {
  background-color: rgba(146, 197, 247, 100);
}

.input-selector {
  position: fixed;
  top: 15px;    
  right: 20px;   
  display: flex;
  gap: 8px;      
  z-index: 1000;
}

.navbar {
    background-color: rgba(11, 66, 121, 100);
}

.apagar {
    display: none;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.rodape {
    background-color: rgba(11, 66, 121, 100);
    text-align: center;
    padding: 15px;
    margin-top: auto;
}